@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>This site is about the lives of Jacob and Jasper. Brother cats who enjoy finer cheeses but aren't above eating balloon ribbon and phone cords.</p>
