@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Fake Location Information Below</h3>

<address>
    One Josh Sosinski Way<br />
    Forever, Wakanda 12345-6789<br />
    <abbr title="Phone">330-555-7583</abbr>
</address>