@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Cat Lives</h1>
    <p class="lead">Did you know that cats are actually fascinating creatures?</p>
    <p class="lead">Click the "Learn more" button to learn more!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    <div class="form-row">
        <div class="col-md-4">
            <img src="~/Content/Pictures/catpic.jpg" class="img-thumbnail img-fluid" />
        </div>
        <div class="col-md-4">
            <img src="~/Content/Pictures/catpic.jpg" class="img-thumbnail img-fluid" />
        </div>
        <div class="col-md-4">
            <img src="~/Content/Pictures/catpic.jpg" class="img-thumbnail img-fluid" />
        </div>
    </div>

