@model CatDaze.ViewModels.AdminViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Cat Lives</h1>
    <p class="lead">Did you know that cats are actually fascinating creatures?</p>
    <p class="lead">Click the "Learn more" button to learn more!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    <div class="form-row">
        @foreach (var item in Model.Images)
        {
            <div class="col-md-4">
               <img  src="@Url.Content(item.ImageLocation)" />
            </div>
        }

    </div>
</div>

